.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
}

.cover {
    width: 100%;
    height: 453px;
    background-image: url('public/assets/imagem-trilha 1.jpg');
    background-size: cover;
    background-position: center;
}


.title_1 {
    font-family: "Inter";
    color: #504908;
    font-weight: 600;
    font-size: 48px;
    line-height: 45px;
    margin: 160px 0;
}

.card_wrapper {
    margin-bottom: 83px;
}