.container {
    display: flex;
    flex-direction: column;
    width: 96rem;
    margin: 17rem auto;
}

.title {
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin-bottom: 40px;
}

.label {
    font-family: 'Inter', sans-serif;
    color: #304050;
    display: block;
    margin-bottom: 8px;
}

.btn_wrapper {
    margin-top: 40px;
    display: flex;
    gap: 14px;
}
